# goland / intellij project data
.idea/

# exclude vendor deps
vendor/
_vendor-*/

# exclude build files
target/

# exclude itest outputs
itests/tests/*/*/output/*
itests/test_output/*
itests/tests/*/*/perf_output/*
itests/perf_output/*
