version: '3'
services:
  postgres:
    container_name: postgres
    build: containers/postgres
    volumes:
      - "./tests/${TEST_NAME}/input:/input"
    environment:
      - POSTGRES_PASSWORD=pgbifrost
    networks:
      - net

  localstack:
    container_name: localstack
    image: localstack/localstack:0.8.7
    env_file:
    - "./containers/defaults.env"
    - "./tests/${TEST_NAME}/envfile.env"
    environment:
    - SERVICES=${TRANSPORT_SINK}
    ports:
     - ${LOCALSTACK_PORT}:${LOCALSTACK_PORT}
    restart: always
    networks:
      - net

  bifrost:
    container_name: bifrost
    image: pg-bifrost:latest
    env_file:
    - "./containers/defaults.env"
    - "./tests/${TEST_NAME}/envfile.env"
    - "./contexts/${TRANSPORT_SINK}.env"
    volumes:
      - "./tests/${TEST_NAME}/perf_output:/perf"
    networks:
      net:
        aliases:
          - localstack
          - postgres
    command: /pg-bifrost replicate ${TRANSPORT_SINK}

  data-poller:
    container_name: data-poller
    build: containers/data-poller
    env_file:
    - "./containers/defaults.env"
    - "./tests/${TEST_NAME}/envfile.env"
    - "./contexts/${TRANSPORT_SINK}.env"
    volumes:
    - "./tests/${TEST_NAME}/output:/output"
    networks:
      net:
        aliases:
          - localstack

networks:
  net:
